.menu {
}

.menu-item {
  cursor: pointer;
}

.menu-item--active {
  text-decoration: underline;
}

.menu-item__wrapper {
  margin-top: 5rem; /* height of the header */
  position: absolute;
  top: 0;
  right: 0;
  outline: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw; /* width of the menu */
  min-height: 30vh;

  max-height: 100vh;
  overflow-y: auto;

  background-color: rgba(255, 255, 255, 0.1);
}

.secondary-menu .menu-item__wrapper {
  /* toggle between 100vw vs 30vw for primary and secondary */
  width: 30vw; /* width of the menu */
  min-height: 50vh;
}
