/* re-arrange the order on mobile */
/* additionally improve centering of the logo */
@media (max-width: 768px) {
  .primary-menu {
    order: 1;
    flex: 1;
  }
  .logo {
    order: 2;
  }
  .secondary-menu {
    order: 3;
    flex: 1;
    display: flex;
    justify-content: end;
  }

  /* todo: refactor to remove important */
  .menu-list {
    gap: 0.25rem !important;
  }
  .menu-item__display {
    width: 100vw !important; /* width of the menu */
    min-height: 60vh !important;
  }
}

.header {
  --header-height: 60px;
  height: var(--header-height);
  max-height: var(--header-height);

  position: relative; /* for absolute positioning of menu output */
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
  background-color: #20283a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);

  .logo {
    font-weight: bold;
    font-size: 2rem;
  }

  .primary-menu,
  .secondary-menu {
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  .primary-menu {
    .menu-item__btn {
      font-size: 1.5rem;
      padding: 0.75rem 1rem;
    }
  }
  .secondary-menu {
    .menu-list {
      gap: 0.5rem;
    }
    .menu-item__btn {
      padding: 0.5rem 0.5rem;
    }
  }
}

/* MENUS */
.menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  gap: 1rem;

  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    // underline (above the header border)
    box-shadow: inset 0px -2px rgba(255, 255, 255, 0);
    transition: 0.3s box-shadow, 0.2s color;
    &--active {
      box-shadow: inset 0px -2px white;
    }

    .menu-item__btn {
      cursor: pointer;
      background-color: transparent;
      border: 0;
      color: white;
    }
  }
}

.primary-menu-mobile {
  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

// display output area
.menu-item__display {
  margin-top: var(--header-height); /* height of the header */
  position: absolute;
  top: 0;
  right: 0;
  outline: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw; /* width of the menu */
  min-height: 30vh;

  max-height: 100vh;
  overflow-y: auto;

  background-color: rgba(255, 255, 255, 0.1);

  &.menu-item--display-type-sidebar {
    /* toggle between 100vw vs 30vw for primary and secondary */
    width: 25vw; /* width of the menu */
    min-height: 80vh;
  }
}

.hidden {
  display: none;
}
