/* re-arrange the order on mobile */
/* additionally improve centering of the logo */
@media (max-width: 768px) {
  .primary-menu {
    order: 1;
    flex: 1;
  }
  .logo {
    order: 2;
  }
  .secondary-menu {
    order: 3;
    flex: 1;
    display: flex;
    justify-content: end;
  }

  /* todo: refactor to remove important */
  .menu-list {
    gap: 0.25rem !important;
  }
  .menu-item__wrapper {
    width: 100vw !important; /* width of the menu */
    min-height: 60vh !important;
  }
}

.header {
  position: relative; /* for absolute positioning of menu output */
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
  background-color: #20283a;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}

.primary-menu {
  font-size: 1.5rem;
}

/* MENUS */
.menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.menu-item {
  cursor: pointer;
}

.menu-item--active {
  text-decoration: underline;
}

.menu-item__wrapper {
  margin-top: 5rem; /* height of the header */
  position: absolute;
  top: 0;
  right: 0;
  outline: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw; /* width of the menu */
  min-height: 30vh;

  max-height: 100vh;
  overflow-y: auto;

  background-color: rgba(255, 255, 255, 0.1);
}

.menu-item--display-type-sidebar .menu-item__wrapper {
  /* toggle between 100vw vs 30vw for primary and secondary */
  width: 25vw; /* width of the menu */
  min-height: 80vh;
}
