/* re-arrange the order on mobile */
/* additionally improve centering of the logo */
@media (max-width: 768px) {
  .primary-menu {
    order: 1;
    flex: 1;
  }
  .logo {
    order: 2;
  }
  .secondary-menu {
    order: 3;
    flex: 1;
    display: flex;
    justify-content: end;
  }

  /* todo: refactor to remove important */
  .menu-list:not(:last-child) {
    margin-right: 0.25rem !important;
  }
  .menu-item__display {
    width: 100vw !important; /* width of the menu */
    min-height: 60vh !important;
  }
}

// brand folder touchpoint
.base--theme {
  --h-height: 60px;

  --h-transition-duration: 0.3s;
  --h-transition-easing: ease-in-out;

  // * transition duration is overridden for the mobile panel menu on react side
}

// header themes which are applied dynamically
.theme--light {
  --h-bg-color: #fff;
  --h-color: #20283a;
}

.theme--dark {
  --h-bg-color: #20283a;
  --h-color: #fff;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;

  transition: var(--h-transition-duration) all var(--h-transition-easing);

  pointer-events: none;
  transform: translate3d(0, -100%, 0);
  &--active {
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
  }
}

.header {
  height: var(--h-height);
  max-height: var(--h-height);

  position: relative; /* for absolute positioning of menu output */
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--h-bg-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 99;

  transition: all var(--h-transition-duration) var(--h-transition-easing);

  .logo {
    font-weight: bold;
    font-size: 2rem;
    color: var(--h-color);
  }

  .primary-menu,
  .secondary-menu {
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  .primary-menu {
    .menu-item__btn {
      font-size: 1.5rem;
      padding: 0.75rem 1rem;
    }
  }
  .secondary-menu {
    .menu-list:not(:last-child) {
      margin-right: 0.5rem;
    }
    .menu-item__btn {
      padding: 0.5rem 0.5rem;
    }
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, -100%, 0);
}

.focus-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;

  background-color: var(--h-color);
  height: 2px;

  width: 0; // dynamically will update
  opacity: 0; // dynamically will update

  transform: scale(0);

  transition: all var(--h-transition-duration) var(--h-transition-easing);
}

// overlay present when any menu is open
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;

  transition: var(--h-transition-duration) backdrop-filter
      var(--h-transition-easing),
    var(--h-transition-duration) background-color var(--h-transition-easing);

  &--animate {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.1);
  }
}

// todo: temp
.lorem-block {
  padding: 6rem;

  h1 {
    text-align: center;
  }
  p {
    padding-top: 1rem;
  }
}

// todo: temp
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// ! not used
// need to remove  hidden: !isActive, class from menu-item-display in react
@mixin menu-item-display-animation {
  .menu-item {
    &:hover,
    &:focus-within {
      .menu-item__display {
        opacity: 1;
        // transform: translate3d(0, 0, 0);
        visibility: visible;
      }
    }
  }
  .menu-item__display {
    opacity: 0;
    visibility: hidden;
    // transform: translate3d(0, -100%, 0);
  }
}

// ACCESSIBILITY

/*
  If the user has expressed their preference for
  reduced motion, then don't use transitions.
*/
@media (prefers-reduced-motion: reduce) {
  // .my-element {
  //   transition: none;
  // }
}

/*
  If the browser understands the media query and the user
  explicitly hasn't set a preference, then use transitions.
*/
@media (prefers-reduced-motion: no-preference) {
  // .my-element {
  //   transition: transform 250ms ease;
  // }
}
