/* re-arrange the order on mobile */
/* additionally improve centering of the logo */
@media (max-width: 768px) {
  .primary-menu {
    order: 1;
    flex: 1;
  }
  .logo {
    order: 2;
  }
  .secondary-menu {
    order: 3;
    flex: 1;
    display: flex;
    justify-content: end;
  }

  /* todo: refactor to remove important */
  .menu-list:not(:last-child) {
    margin-right: 0.25rem !important;
  }
  .menu-item__display {
    width: 100vw !important; /* width of the menu */
    min-height: 60vh !important;
  }
}

.header {
  --header-height: 60px;
  height: var(--header-height);
  max-height: var(--header-height);

  position: relative; /* for absolute positioning of menu output */
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
  background-color: #20283a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 99;

  .logo {
    font-weight: bold;
    font-size: 2rem;
  }

  .primary-menu,
  .secondary-menu {
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  .primary-menu {
    .menu-item__btn {
      font-size: 1.5rem;
      padding: 0.75rem 1rem;
    }
  }
  .secondary-menu {
    .menu-list:not(:last-child) {
      margin-right: 0.5rem;
    }
    .menu-item__btn {
      padding: 0.5rem 0.5rem;
    }
  }
}

/* MENUS */
.menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    // // underline (above the header border)
    // box-shadow: inset 0px -2px rgba(255, 255, 255, 0);
    // transition: 0.3s box-shadow, 0.2s color;
    // &--active {
    //   box-shadow: inset 0px -2px white;
    // }

    .menu-item__btn {
      cursor: pointer;
      background-color: transparent;
      border: 0;
      color: white;
    }
  }
}

.menu-list:not(:last-child) {
  margin-right: 1rem;
}

.primary-menu-mobile {
  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

// display output area
.menu-item__display {
  margin-top: var(--header-height); /* height of the header */
  position: absolute;
  top: 0;
  right: 0;
  outline: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw; /* width of the menu */
  min-height: 30vh;

  max-height: 100vh;
  overflow-y: auto;

  // background-color: rgba(255, 255, 255, 0.3);
  background-color: #20283a;

  &.menu-item--display-type-sidebar {
    /* toggle between 100vw vs 30vw for primary and secondary */
    width: 25vw; /* width of the menu */
    min-height: 80vh;
  }
}

.hidden {
  display: none;
}

.focus-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;

  background-color: rgba(255, 255, 255, 1);
  height: 2px;

  width: 0; // dynamically will update
  opacity: 0; // dynamically will update

  transform: scale(0);

  transition: all 0.3s ease-in-out;
}

// overlay present when any menu is open
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;

  transition: 0.3s backdrop-filter ease-in-out;

  &--animate {
    backdrop-filter: blur(4px);
  }
}

// todo: remove this temp
.lorem-block {
  padding: 3rem;

  h1 {
    text-align: center;
  }
  p {
    padding-top: 1rem;
  }
}
