/* MENUS */
.menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    transition: all var(--h-transition-duration) var(--h-transition-easing);

    .menu-item__btn {
      cursor: pointer;
      background-color: transparent;
      border: 0;
      color: var(--h-color);
    }
  }
}

.menu-list:not(:last-child) {
  margin-right: 1rem;
}

.primary-menu-mobile {
  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

// display output area
.menu-item__display {
  margin-top: var(--h-height); /* height of the header */
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--h-color);
  overflow-x: hidden;

  width: 100%; /* width of the menu */
  min-height: 30vh;

  // * need to remove the header height from the max height for lower content area to be within screen
  max-height: calc(100vh - var(--h-height));
  overflow-y: auto;

  background-color: var(--h-bg-color);

  // primary display will snap, inner content will have a transition
  // avoiding flashing panel states across nav item interaction
  display: none;
  &--active {
    display: block;
  }

  .menu-item__display-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem; // * removed on mobile fullscreen
    opacity: 0;

    &--active {
      opacity: 1;
      transition: opacity var(--h-transition-duration)
        var(--h-transition-easing);
    }
  }

  // SIDEBAR PANEL
  &.menu-item--display-type-sidebar {
    /* toggle between 100vw vs 30vw for primary and secondary */
    width: max(25vw, 300px); /* width of the menu */
    min-height: 100vh;
  }
  // MOBILE FULLSCREEN PANEL
  &.menu-item--display-type-fullscreen {
    width: 100%; /* width of the menu */
    height: 100vh !important;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 2px solid red;

    .menu-item__display-content {
      // * remove any gutter so internal component can have full control, also important if we have transitioned page swiping
      padding: 0;
    }
  }
}
