.mobile-panel__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  // needs to incrementally update based on depth and active state
  transform: translate3d(0, 0, 0);

  transition: 0.3s all ease-in-out;
}

.mobile-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;

  // justify-content: center;
  // align-items: center;

  display: none;
  pointer-events: none;

  &--in-view {
    overflow-y: auto;
  }
  &--active {
    display: flex;
    pointer-events: auto;
  }
  &--hidden-active {
    display: flex;
  }
}

// custom for every depth
.mobile-panel--depth-0 {
  background-color: lightskyblue;
  transform: translate3d(0, 0, 0);
}
.mobile-panel--depth-1 {
  background-color: lightsalmon;
  transform: translate3d(100%, 0, 0);
}
.mobile-panel--depth-2 {
  background-color: lightcyan;
  transform: translate3d(100%, 0, 0);
}

.mobile-panel__list {
  list-style: none;
}

.mobile-panel__list-item {
  border: 0;
  background-color: transparent;
  padding: 0.25rem 0;
}

// dynamic based on <id> provided to the item
.mobile-panel__list-item--0 {
}
.mobile-panel__list-item--2 {
}
.mobile-panel__list-item--id {
}

.mobile-panel__list-item-action-action {
  color: var(--h-color);
  text-decoration: none;
}
.mobile-panel__list-item-action-link {
}
.mobile-panel__list-item-action-btn {
  border: 0;
  background-color: transparent;
  font-size: 1rem;
}

.mobile-panel__back-btn {
  border: 0;
  background-color: transparent;
  font-size: 1rem;
}
